.col-md-5{
    background-color: antiquewhite;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
}

/* h3{
    color: red;
    text-align: center;
    padding-bottom: 10px;
    border-bottom-width: 3.1px;
    border-bottom-style: solid;
   
} */

h3{
    color:palevioletred;
    text-align: center;
    margin-top:18px;
    padding-bottom: 10px;
    
    
}